#quick_bar{width:100px;height:332px;border-radius:50px;background-color:#06462B;position:absolute;top:50%;right:5%;}
#quick_bar li{height:25px; line-height:25px; text-align:center;margin:15px 0px 0px 0px;}
#quick_bar a{color:white;}