*{
 margin:0;
 padding:0;   
}
#main_wrap{
    width:1280px;
    margin:0 auto;
}
.l1_title{
    margin:119px 0px 29px 0px;
}
.l1_title>span{
    margin:119px 320px 29px 0px;
    font-size:30px;
}
.l1_title>span:nth-child(1){
    font-family:"Pretendard Variable";
    font-weight:700;
}
.l1_title>span:nth-child(2){
    font-family:"Pretendard Variable";
    font-weight:600;
}
.l1_title>span:nth-child(3){
    font-family:"Pretendard Variable";
    font-weight:500;
}
.l1_title>span:nth-child(4){
    font-family:"Pretendard Variable";
    font-weight:400;
}
.l1_title>span:nth-child(5){
    font-family:"Pretendard Variable";
    font-weight:300;
}
.l1_title>span:nth-child(6){
    font-family:"Pretendard Variable";
    font-weight:200;
}
#daumRoughmapContainer1683282070046{
    margin:0 auto;
}
table{
    width:1280px;
    margin:35px auto 40px auto;
    border:none;
    border-collapse : collapse;
    text-align:center;
    letter-spacing: -0.45px;
}
thead>tr{
    background-color: #005330;
    line-height: 48px;
    color:white;
    font-family:"Pretendard Variable";
    font-weight:400;
}
thead td:nth-child(1){
    width:150px;
}
thead td:nth-child(2){
    width:250px;
}
thead td:nth-child(4){
    width:200px;
}
tbody tr{
    line-height:50px;
    border-bottom:1px solid #DBDBDB;
    font-family:"Pretendard Variable";
    font-weight:200;
}
#pagination{
    width: 1280px;
    height: 30px;
    line-height: 30px;
    margin: 0 auto 300px auto;
    text-align: center;
    display:block;
}
#pagination>ul{
    width:330px;
    margin:0 auto;
}
#pagination li{
    list-style: none;
    font-family: 'Pretendard-Regular';
    float: left;
    font-size: 13px;
    width: 30px;
    height: 30px;
    border: 1px solid #C7C7C7;
    box-sizing: border-box;
    border-right:none;
}
#pagination li a{
    list-style-type: none;
    text-decoration: none;
    color: #818181;
}
#pagination li:last-child{
    border-right: 1px solid #C7C7C7;
}
.page_acitve{
    border:none;
    background-color: #005330;
    color:white;
}
#pagination .page_acitve>a{
    color:white;
}